@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@500&display=swap');

:root{
    --bg-color: #000;
    --text-simple-color: #F6F6F6;
    --text-destaque-color: #22D4FD;
    --cor-hover: #272727;
    --font-principal: "Krona One", serif;
    --font-title: "Montserrat", serif;
}

*{
    margin: 0;
    border: none;
    text-decoration: none;
}

body{
    background-color: var(--bg-color);
    color: var(--text-simple-color);
    box-sizing: border-box;
}

.cabecalho {
    padding: 1% 0 0 13%;
}

.cabecalho__menu{
display: flex;
gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-title);
    font-size: 20px;
    color: var(--text-destaque-color);
    font-weight: 500;
}

.titulo-destaque{
    color: var(--text-destaque-color);
    font-family: sans-serif;
    font-size: 26px;
    font-family: var(--font-principal);
}


.about{
    padding:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.about__conteudo {
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.about-conteudo-tittle{
    font-size: 20px;
    font-family: var(--font-principal);
}

.about-conteudo-tittle-description{
    padding: 2% 5% 0 0;
    font-size: 20px;
    font-family: var(--font-title);
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.buttons__title{
    font-family: var(--font-principal);
    font-weight: 100;
    font-size: 18px;
}

.buttons__links {
    background-color:transparent;
    border: solid 1px var(--text-destaque-color);
    width: 300px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 4px 0;
    color: var(--text-simple-color);
    font-family: var(--font-title);
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.buttons__links:hover {
    background-color: var(--cor-hover);
}

.image-perfil{
    width: 300px;
}

.rodape {
    color:var(--text-simple-color);
    border-top: 1px solid var(--text-destaque-color);
    background-color: transparent;
    padding: 12px;
    margin-top: 2%;
    text-align: center;
    font-family: var(--font-title);
    display: flex;
    justify-content: center; 
}

@media only screen and (max-width: 600px) {
    .cabecalho {
        padding: 4%;
        display: flex;
        justify-content: center;
    }
    .about {
        display: flex;
        flex-direction: column-reverse;
  }
    .about__conteudo {
       width: 300px;
       display: flex;
  }
    .about-conteudo-tittle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image-perfil {
        width: 300px;
        margin-bottom: 10px;
  }
}